<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingao.mgj.mapper.GoodscommentMapper">
  <resultMap id="BaseResultMap" type="com.qingao.mgj.pojo.Goodscomment">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <id column="gdid" jdbcType="INTEGER" property="gdid" />
    <result column="gcdate" jdbcType="TIMESTAMP" property="gcdate" />
    <result column="gctype" jdbcType="INTEGER" property="gctype" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.qingao.mgj.pojo.Goodscomment">
    <result column="gctext" jdbcType="LONGVARCHAR" property="gctext" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userid, gdid, gcdate, gctype
  </sql>
  <sql id="Blob_Column_List">
    gctext
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.qingao.mgj.pojo.GoodscommentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goodscomment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.qingao.mgj.pojo.GoodscommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodscomment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.qingao.mgj.pojo.GoodscommentKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goodscomment
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.qingao.mgj.pojo.GoodscommentKey">
    delete from goodscomment
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qingao.mgj.pojo.GoodscommentExample">
    delete from goodscomment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qingao.mgj.pojo.Goodscomment">
    insert into goodscomment (userid, gdid, gcdate, 
      gctype, gctext)
    values (#{userid,jdbcType=INTEGER}, #{gdid,jdbcType=INTEGER}, #{gcdate,jdbcType=TIMESTAMP}, 
      #{gctype,jdbcType=INTEGER}, #{gctext,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qingao.mgj.pojo.Goodscomment">
    insert into goodscomment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="gdid != null">
        gdid,
      </if>
      <if test="gcdate != null">
        gcdate,
      </if>
      <if test="gctype != null">
        gctype,
      </if>
      <if test="gctext != null">
        gctext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="gdid != null">
        #{gdid,jdbcType=INTEGER},
      </if>
      <if test="gcdate != null">
        #{gcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gctype != null">
        #{gctype,jdbcType=INTEGER},
      </if>
      <if test="gctext != null">
        #{gctext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qingao.mgj.pojo.GoodscommentExample" resultType="java.lang.Long">
    select count(*) from goodscomment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goodscomment
    <set>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.gdid != null">
        gdid = #{record.gdid,jdbcType=INTEGER},
      </if>
      <if test="record.gcdate != null">
        gcdate = #{record.gcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gctype != null">
        gctype = #{record.gctype,jdbcType=INTEGER},
      </if>
      <if test="record.gctext != null">
        gctext = #{record.gctext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update goodscomment
    set userid = #{record.userid,jdbcType=INTEGER},
      gdid = #{record.gdid,jdbcType=INTEGER},
      gcdate = #{record.gcdate,jdbcType=TIMESTAMP},
      gctype = #{record.gctype,jdbcType=INTEGER},
      gctext = #{record.gctext,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goodscomment
    set userid = #{record.userid,jdbcType=INTEGER},
      gdid = #{record.gdid,jdbcType=INTEGER},
      gcdate = #{record.gcdate,jdbcType=TIMESTAMP},
      gctype = #{record.gctype,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingao.mgj.pojo.Goodscomment">
    update goodscomment
    <set>
      <if test="gcdate != null">
        gcdate = #{gcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gctype != null">
        gctype = #{gctype,jdbcType=INTEGER},
      </if>
      <if test="gctext != null">
        gctext = #{gctext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qingao.mgj.pojo.Goodscomment">
    update goodscomment
    set gcdate = #{gcdate,jdbcType=TIMESTAMP},
      gctype = #{gctype,jdbcType=INTEGER},
      gctext = #{gctext,jdbcType=LONGVARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingao.mgj.pojo.Goodscomment">
    update goodscomment
    set gcdate = #{gcdate,jdbcType=TIMESTAMP},
      gctype = #{gctype,jdbcType=INTEGER}
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.qingao.mgj.pojo.GoodscommentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goodscomment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.qingao.mgj.pojo.GoodscommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodscomment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>