<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingao.mgj.mapper.OrderinfoMapper">
  <resultMap id="BaseResultMap" type="com.qingao.mgj.pojo.Orderinfo">
    <id column="ofid" jdbcType="VARCHAR" property="ofid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="ofdate" jdbcType="DATE" property="ofdate" />
    <result column="ofstate" jdbcType="INTEGER" property="ofstate" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="recipient" jdbcType="VARCHAR" property="recipient" />
    <result column="contactnumber" jdbcType="VARCHAR" property="contactnumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ofid, userid, ofdate, ofstate, address, recipient, contactnumber
  </sql>
  <select id="selectByExample" parameterType="com.qingao.mgj.pojo.OrderinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderinfo
    where ofid = #{ofid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orderinfo
    where ofid = #{ofid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qingao.mgj.pojo.OrderinfoExample">
    delete from orderinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qingao.mgj.pojo.Orderinfo">
    insert into orderinfo (ofid, userid, ofdate, 
      ofstate, address, recipient, 
      contactnumber)
    values (#{ofid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{ofdate,jdbcType=DATE}, 
      #{ofstate,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{recipient,jdbcType=VARCHAR}, 
      #{contactnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qingao.mgj.pojo.Orderinfo">
    insert into orderinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ofid != null">
        ofid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="ofdate != null">
        ofdate,
      </if>
      <if test="ofstate != null">
        ofstate,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="recipient != null">
        recipient,
      </if>
      <if test="contactnumber != null">
        contactnumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ofid != null">
        #{ofid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="ofdate != null">
        #{ofdate,jdbcType=DATE},
      </if>
      <if test="ofstate != null">
        #{ofstate,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null">
        #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="contactnumber != null">
        #{contactnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qingao.mgj.pojo.OrderinfoExample" resultType="java.lang.Long">
    select count(*) from orderinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orderinfo
    <set>
      <if test="record.ofid != null">
        ofid = #{record.ofid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.ofdate != null">
        ofdate = #{record.ofdate,jdbcType=DATE},
      </if>
      <if test="record.ofstate != null">
        ofstate = #{record.ofstate,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.recipient != null">
        recipient = #{record.recipient,jdbcType=VARCHAR},
      </if>
      <if test="record.contactnumber != null">
        contactnumber = #{record.contactnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orderinfo
    set ofid = #{record.ofid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=INTEGER},
      ofdate = #{record.ofdate,jdbcType=DATE},
      ofstate = #{record.ofstate,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      recipient = #{record.recipient,jdbcType=VARCHAR},
      contactnumber = #{record.contactnumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingao.mgj.pojo.Orderinfo">
    update orderinfo
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="ofdate != null">
        ofdate = #{ofdate,jdbcType=DATE},
      </if>
      <if test="ofstate != null">
        ofstate = #{ofstate,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null">
        recipient = #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="contactnumber != null">
        contactnumber = #{contactnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ofid = #{ofid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingao.mgj.pojo.Orderinfo">
    update orderinfo
    set userid = #{userid,jdbcType=INTEGER},
      ofdate = #{ofdate,jdbcType=DATE},
      ofstate = #{ofstate,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      recipient = #{recipient,jdbcType=VARCHAR},
      contactnumber = #{contactnumber,jdbcType=VARCHAR}
    where ofid = #{ofid,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.qingao.mgj.pojo.OrderinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>