<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingao.mgj.mapper.OrderlistMapper">
  <resultMap id="BaseResultMap" type="com.qingao.mgj.pojo.Orderlist">
    <id column="olid" jdbcType="VARCHAR" property="olid" />
    <result column="gdid" jdbcType="INTEGER" property="gdid" />
    <result column="gdcount" jdbcType="INTEGER" property="gdcount" />
    <result column="gsid" jdbcType="INTEGER" property="gsid" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="ofid" jdbcType="VARCHAR" property="ofid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    olid, gdid, gdcount, gsid, price, ofid
  </sql>
  <select id="selectByExample" parameterType="com.qingao.mgj.pojo.OrderlistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderlist
    where olid = #{olid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orderlist
    where olid = #{olid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qingao.mgj.pojo.OrderlistExample">
    delete from orderlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qingao.mgj.pojo.Orderlist">
    insert into orderlist (olid, gdid, gdcount, 
      gsid, price, ofid)
    values (#{olid,jdbcType=VARCHAR}, #{gdid,jdbcType=INTEGER}, #{gdcount,jdbcType=INTEGER}, 
      #{gsid,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{ofid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qingao.mgj.pojo.Orderlist">
    insert into orderlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="olid != null">
        olid,
      </if>
      <if test="gdid != null">
        gdid,
      </if>
      <if test="gdcount != null">
        gdcount,
      </if>
      <if test="gsid != null">
        gsid,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="ofid != null">
        ofid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="olid != null">
        #{olid,jdbcType=VARCHAR},
      </if>
      <if test="gdid != null">
        #{gdid,jdbcType=INTEGER},
      </if>
      <if test="gdcount != null">
        #{gdcount,jdbcType=INTEGER},
      </if>
      <if test="gsid != null">
        #{gsid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="ofid != null">
        #{ofid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qingao.mgj.pojo.OrderlistExample" resultType="java.lang.Long">
    select count(*) from orderlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orderlist
    <set>
      <if test="record.olid != null">
        olid = #{record.olid,jdbcType=VARCHAR},
      </if>
      <if test="record.gdid != null">
        gdid = #{record.gdid,jdbcType=INTEGER},
      </if>
      <if test="record.gdcount != null">
        gdcount = #{record.gdcount,jdbcType=INTEGER},
      </if>
      <if test="record.gsid != null">
        gsid = #{record.gsid,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.ofid != null">
        ofid = #{record.ofid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orderlist
    set olid = #{record.olid,jdbcType=VARCHAR},
      gdid = #{record.gdid,jdbcType=INTEGER},
      gdcount = #{record.gdcount,jdbcType=INTEGER},
      gsid = #{record.gsid,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE},
      ofid = #{record.ofid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingao.mgj.pojo.Orderlist">
    update orderlist
    <set>
      <if test="gdid != null">
        gdid = #{gdid,jdbcType=INTEGER},
      </if>
      <if test="gdcount != null">
        gdcount = #{gdcount,jdbcType=INTEGER},
      </if>
      <if test="gsid != null">
        gsid = #{gsid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="ofid != null">
        ofid = #{ofid,jdbcType=VARCHAR},
      </if>
    </set>
    where olid = #{olid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingao.mgj.pojo.Orderlist">
    update orderlist
    set gdid = #{gdid,jdbcType=INTEGER},
      gdcount = #{gdcount,jdbcType=INTEGER},
      gsid = #{gsid,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      ofid = #{ofid,jdbcType=VARCHAR}
    where olid = #{olid,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.qingao.mgj.pojo.OrderlistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>